# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv / Poetry
.venv/
env/
venv/

# Django
db.sqlite3

# dotenv
.env

# VSCode
.vscode/

# Tailwind build
node_modules/
theme/static_src/node_modules/

# OS
.DS_Store
Thumbs.db